.loading-div {
	z-index: 999;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;

	.progress-bar {
		position: fixed;
		top: 0;
		left: 0;
		height: 2px;
		background: #ff66ff;
		box-shadow: 0 0 10px rgba(119, 182, 255, 0.7);
	}
}
