/*common*/
@charset "urf-8";
* {
	margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	font-family: "Hiragino Sans GB W3", "Hiragino Sans GB", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Micro Hei Mono", "WenQuanYi Zen Hei", "WenQuanYi Zen Hei", "Apple LiGothic Medium", "SimHei", "ST Heiti", "WenQuanYi Zen Hei Sharp", "Sans";
	outline: none;
};

a {
	text-decoration: none;
	&:visited {
		color: #232425;
  }
	&:hover {
		color: #070809;
  }
}

i {
	font-style: normal;
}

ul, ol, li {
	list-style-type: none;
}

input, input:invalid , textarea, textarea:invalid {
	border-color: #b2e5d5;
	background: none;
}

input:hover, textarea:hover, input:focus, textarea:focus, textarea:focus, input[type="submit"]:hover, input[type="reset"]:hover {
	background: rgba(211, 233, 211, 0.2);
}

input:active, textarea:active, input[type="submit"], input[type="reset"] {
	background: rgba(211, 233, 211, 0.4);
}

input[type="submit"]:active, input[type="reset"]:active {
	background: rgba(211, 233, 211, 0.9);
}

*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix {
	clear: both;
}

html, body {
	box-sizing: border-box;
	width: 100%;
	height: auto;
}

.ice-player-container {
	display: block;;
	position: relative;
	height: auto;

	.player-container {
		width: 100%;
		max-width: 100%;
		height: 0;
  }

	.video-react-container {
		display: block;
		vertical-align: top;
		color: #fff;
		box-sizing: border-box;
		background-color: #000;
		position: relative;
		user-select: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;

		&:hover {
			.play-button {
				background-color: #2b333f;
			}
		}

		.react-video {
			z-index: 997;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.player-loading {
			z-index: 1000;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			display: none;

			.loading-icon {
				position: absolute;
				top: 44%;
				left: 44%;
				opacity: .8;
				width: 12%;
				height: 12%;
			}

			.loading-tips-container {
				position: absolute;
				bottom: 5%;
				font-size: 12px;
				left: 1em;
				opacity: .8;
			}
		}

		.play-button {
			z-index: 999;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 80px;
			height: 80px;
			margin-top: -40px;
			margin-left: -40px;
			border: #fff 2px solid;
			border-radius: 100%;
			background-color: rgba(43, 51, 63, 0.7);
			transition: all linear 0.4s;
			-webkit-transition: all linear 0.4s;
			-ms-transition: all linear 0.4s;
			cursor: pointer;

			.play-svg {
				position: absolute;
				width: 70%;
				height: 70%;
				top: 15%;
				left: 23%;
			}
		}

		.react-video-control-bar {
			z-index: 998;
			position: absolute;
			width: 100%;
			background: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
			background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
			background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
			background: -ms-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
			background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 75%);
			height: 44px;
			bottom: 0;
			left: 0;
			right: 0;
			display: flex;
			display: -webkit-flex;
			flex-flow: row nowrap;
			justify-content: flex-start;
			align-items: center;
			box-sizing: border-box;

			.react-video-control-item {
				height: 100%;
			}

			.react-video-control-btn {
				cursor: pointer;
			}

			.video-btn-play {
				float: 1;

				.react-video-svg {
					display: block;
					float: left;
					margin-left: .5em;
					width: 36px;
					height: 36px;
					margin: auto;
					fill: white;
					transition: all linear 0.2s;
					-webkit-transition: all linear 0.2s;
					-ms-transition: all linear 0.2s;
				}

				.video-svg-symbol-hidden {
					visibility: hidden;
					opacity: 0;
				}

				&[data-status="pause"] {
					.video-svg-pause {
						visibility: visible;
						opacity: 1;
						animation: video_svg_rotate .3s ease both;
						-moz-animation: none;
					}
				}

				&[data-status="play"] {
					.video-svg-play {
						visibility: visible;
						opacity: 1;
						animation: video_svg_rotate_2 .3s ease both;
						-moz-animation: none;
					}
				}

				&:hover {
					.react-video-svg {
						fill: #ff8e00;
					}
				}
			}

			.react-video-control-bar-right {
				flex: 2;
				display: flex;
				display: -webkit-flex;
				flex-flow: row nowrap;
				justify-content: flex-end;
				align-items: center;
				padding-right: 1em;
				box-sizing: border-box;

				.video-btn-volume, .video-btn-setting, .video-btn-fullscreen {
					text-align: center;
					align-items: center;
					margin: 0 .5em;

					.react-video-svg {
						display: block;
						width: 24px;
						height: 24px;
						margin: auto;
						fill: white;
						transition: all linear 0.2s;
						-webkit-transition: all linear 0.2s;
						-ms-transition: all linear 0.2s;
					}

					.video-svg-symbol-hidden {
						visibility: hidden;
						opacity: 0;
					}
				}

				.video-btn-volume {
					&[data-status="normal"] {
						.video-svg-volume {
							visibility: visible;;
							opacity: 1;
						}
					}
					&[data-status="mute"] {
						.video-svg-volume-damping {
							visibility: visible;;
							opacity: 1;
						}
					}
					&:hover {
						.react-video-svg {
							fill: #ff8e00;
						}
					}
				}

				.video-btn-setting {
					&:hover {
						.react-video-svg {
							fill: #ff8e00;
							animation: video_svg_rotate_3 0.4s ease both;
						}
					}
			 }

				.video-btn-fullscreen {
					&[data-status="false"] {
						.video-svg-fullscreen {
							visibility: visible;
							opacity: 1;
					 }
				 }
					&[data-status="true"] {
						.video-svg-fullscreen-true {
							visibility: visible;
							opacity: 1;
					 }
				 }
					&:hover {
						.react-video-svg {
							fill: #ff8e00;
							animation: video_svg_scale 0.4s ease both;
					 }
				 }
			 }
			}

			.video-current-time-display {
				flex: 1;
				line-height: 3em;

				.video-current-time {
					display: block;
					width: 4em;
					font-size: .5em;
					height: 36px;
					line-height: 36px;
					margin: auto;
					text-align: right;
					float: right;
					margin-right: 2em;
					margin-top: 6px;
				}
			}

			.video-process-control {
				position: relative;
				flex: 6;

				.video-process-list {
					position: absolute;
					top: 52%;
					width: 100%;
					height: 3px;
					background-color: rgba(168, 168, 168, 0.6);
					transition: all .25s cubic-bezier(0.0, .0, .2, 1);
					-webkit-transition: all .25s cubic-bezier(0.0, .0, .2, 1);
					-ms-transition: all .25s cubic-bezier(0.0, .0, .2, 1);

					.video-process-load {
						position: absolute;
						width: 0;
						width: 0;
						height: 100%;
						background-color: rgba(255, 255, 255, 0.6);
						transition: all .25s cubic-bezier(0.0, .0, .2, 1);
						-webkit-transition: all .25s cubic-bezier(0.0, .0, .2, 1);
						-ms-transition: all .25s cubic-bezier(0.0, .0, .2, 1);
					}
					.video-process-play {
						position: absolute;
						width: 0;
						height: 100%;
						top: 0;
						background-color: rgba(255, 120, 0, 0.6);
						transition: all .25s cubic-bezier(0.0, .0, .2, 1);
						-webkit-transition: all .25s cubic-bezier(0.0, .0, .2, 1);
						-ms-transition: all .25s cubic-bezier(0.0, .0, .2, 1);
					}
				}

				&:hover {
					.video-process-list {
						height: 5px;
						margin-top: -1px;
					}
				}
			}
		}

		.react-video-control-bar-hidden {
			opacity: 0;
			visibility: hidden;
		}
	}
}

.player-user-inactivity {
	.react-video-control-bar {
		visibility: visible;
		opacity: 0;
		-webkit-transition: visibility 1s, opacity 1s;
		-moz-transition: visibility 1s, opacity 1s;
		-o-transition: visibility 1s, opacity 1s;
		transition: visibility 1s, opacity 1s;
	}
}

.player-user-activity {
	.react-video-control-bar {
		visibility: visible;
		opacity: 1;
		-webkit-transition: visibility 0.1s, opacity 0.1s;
		-moz-transition: visibility 0.1s, opacity 0.1s;
		-o-transition: visibility 0.1s, opacity 0.1s;
		transition: visibility 0.1s, opacity 0.1s;
	}
}

@keyframes video_svg_rotate {
	0% {
		transform: rotate(90deg) translateZ(0);
		transform-origin: center center;
	}
	100% {
		transform: rotate(0deg) translateZ(0);
		transform-origin: center center;
	}
}
@keyframes video_svg_rotate_2 {
	0% {
		transform: rotate(-90deg) translateZ(0);
		transform-origin: center center;
	}
	100% {
		transform: rotate(0deg) translateZ(0);
		transform-origin: center center;
	}
}
@keyframes video_svg_rotate_3 {
	0% {
		transform: rotate(0deg);
		transform-origin: center center;
	}
	100% {
		transform: rotate(45deg);
		transform-origin: center center;
	}
}
@keyframes video_svg_scale {
	0% {
		transform: scale(1);
		transform-origin: center center;
	}
	50% {
		transform: scale(1.2);
		transform-origin: center center;
	}
	100% {
		transform: scale(1);
		transform-origin: center center;
	}
}
